<!-- Copyright 2023 Google LLC. SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html lang="en">

<head>

  <title>Privacy Sandbox metrics</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link href="favicon.ico" rel="shortcut icon">

  <script type="module" src="js/main.js" defer></script>

  </head>

  <body>

     <main>

      <h1>Privacy Sandbox metrics</h1>

      <div id="svg-container"></div>

    </main>

  </body>

</html>
